@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');
/* font-family: 'Fraunces', serif; */

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');
/* font-family: 'Barlow', sans-serif; */

:root {
    --dark-cyan: #0E8784;
    --dark-grey-blue: #333D4B;
    --pale-orange: #FDD6BA;
    --light-cream: #FEFCF7;
    --grey: #83888F;
    --btn-accordion-hover: #66D2CF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fraunces', serif;
}

p {
   font-family: 'Barlow', sans-serif; 
}

ul {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #F2F2F2;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 1260px;
    margin-top: 50px;

}

.nav-items {
    display: flex;
    color: #828282;
    font-size: 12px;
    justify-content: space-between;
    font-weight: 700;
    width: 283px;
    letter-spacing: 0.92px;
    font-family: 'Barlow', sans-serif;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1280px;
    height: 120px;
    background-color: #2C343E;
}

.content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 622px;
    height: 26px;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
}

